*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font: normal 10px "Montserrat", sans-serif; /* font-size: 10px; */
    color: #ffffff;
    background-color: #302c42;
}

.card {
    margin-inline: 20px;
  }

.card {
    display: grid;
    grid-template-columns: 40% 60%;
  
    color: #000;
    font: 300 0.8rem "Poppins", sans-serif;
  
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(
      to bottom,
      #fff 0%,
      rgba(0, 0, 0, 0)
    );
    border-image-slice: 1;
    background-image: linear-gradient(
        to bottom,
        #fff,
        #fff
      ),
      linear-gradient(to bottom, #fff 0%, rgba(0, 0, 0, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.card .card__projectTitle {
    grid-column: 2;
    position: relative;
    margin: 15px 10px 1rem 0;
    text-align: center;
    text-transform: capitalize;
  
    font: 300 0.8rem "Poppins", sans-serif;
  }
  
  .card .card__projectTitle::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    bottom: calc(50% - 1px);
    left: 0;
    right: 0;
    z-index: 0;
  
    background-image: linear-gradient(
      to right,
      white,
      #232323 15%,
      #000,
      #232323 85%,
      white
    );
  }
  
  .card .card__projectTitle--text {
    position: relative;
    padding-inline: 0.1em;
    z-index: 1;
    background-color: #fff;
  }
  
  .card .card__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card .card__authorPhoto {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 0.8rem;
  }
  
  .card .card__job {
    margin-bottom: 0.2rem;
    margin-inline: 0.2rem;
  }
  
  .card .card__name {
    font: 500 1.2rem "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  
  .card .card_name {
    text-align: left;
  }
  
  .card .card__project {
    margin-right: 10px;
    margin-left: 2px;
  }
  
  .card .card__slogan {
    font: 400 1.1rem "Poppins", sans-serif;
    margin-top: -0.2rem;
    margin-bottom: 0.8rem;
  }
  
  .card .card__descriptionTitle {
    font-weight: inherit;
    text-transform: capitalize;
  }
  
  .card .card__technicalInfo {
    display: grid;
    grid-template-columns: 1fr 2rem 2rem;
    gap: 0.5em;
    align-items: center;
  
    margin-block: 1.8rem;
  }
  
  .card .card__technologies {
    font: 500 1rem "Catamaran", sans-serif;
  }